<section id="section-about" class="section">
  <h2 class="section-title h4 clearfix">About FirePick</h2>
  <div class="textwidget">
    <p class="text-justify">FirePick Delta is an open-source electronics manufacturing system, inspired by RepRap and powered by OpenPnP and FirePick's own Computer Vision software. Our vision is to create a desktop pick and place machine that is affordable, open source and hackable. This project is currently in alpha stage and not yet feature complete.</p>
  </div>
</section><!-- #section-about -->