<div class="site-hero clearfix">
  <div class="container">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="text">You are here: </li>
      <li><a href="/">Home</a></li>
      {% assign crumbs = page.url | split: '/' %}
      {% assign crumbs_total = crumbs | size | minus: 1 %}
      {% if crumbs_total > 1 %}
      {% assign crumb = crumbs[1] %}
        <li><a href="/{{ crumb }}">{{ crumb | replace:'_',' ' | capitalize }}</a>
      {% endif%}

      <li class="active">{{ page.title }}</li>
    </ol>
  </div>
</div><!-- .site-hero -->