---
layout: default
---
<div class="row">
  <div id="content" class="site-content col-md-9">
    <article class="hentry">
      <header class="entry-header">
        <h1 class="entry-title">{{ page.title }}</h1>
      </header>
      <!-- .entry-header -->
      <div class="entry-content clearfix">
        {{ content }}
      </div>
      <!-- .entry-content -->
    </article>
    <!-- .hentry -->
  </div>
  <div id="sidebar" class="site-sidebar col-md-3">
    <div class=""widget-area>
      <section id="section-categories" class="section">
        <h2 class="section-title h4 clearfix"><i class="line"></i>Build Sections</h2>
        <ul class="nav nav-pills nav-stacked nav-categories">

          <li><a href="/instructions/diycore">DIY Core</a></li>
          <li><a href="/instructions/diycore/frame"><i class="fa fa-long-arrow-right"></i> Frame</a></li>
          <li><a href="/instructions/diycore/stepper-assembly"><i class="fa fa-long-arrow-right"></i> Stepper Assembly</a></li>
          <li><a href="/instructions/diycore/pulley_assembly"><i class="fa fa-long-arrow-right"></i> Pulley Assembly</a></li>
          <li><a href="/instructions/diycore/delta_rods"><i class="fa fa-long-arrow-right"></i> Delta Rods</a></li>
          <li><a href="/instructions/diycore/effector_platform"><i class="fa fa-long-arrow-right"></i> Effector Platform</a></li>
          <li><a href="/instructions/diycore/bed"><i class="fa fa-long-arrow-right"></i> Bed</a></li>
          <li><a href="/instructions/diycore/power_supply"><i class="fa fa-long-arrow-right"></i> Power Supply</a></li>
          <li><a href="/instructions/diycore/electronics"><i class="fa fa-long-arrow-right"></i> Electronics</a></li>

          <li><a href="/instructions/pick_and_place">Pick and Place</a></li>
          <li><a href="/instructions/pick_and_place/smt_nozzle"><i class="fa fa-long-arrow-right"></i> SMT Nozzle</a></li>
          <li><a href="/instructions/pick_and_place/vacuum_pump"><i class="fa fa-long-arrow-right"></i> Vacuum_Pump</a></li>
          <li><a href="/instructions/pick_and_place/upward_looking_camera"><i class="fa fa-long-arrow-right"></i> Upward Looking Camera</a></li>

          <li><a href="/instructions/3d_printer">3D Printer</a></li>
          <li><a href="/instructions/3d_printer/print_head"><i class="fa fa-long-arrow-right"></i> 3D Print Head</a></li>
          <li><a href="/instructions/3d_printer/extruder"><i class="fa fa-long-arrow-right"></i> Extruder</a></li>

          <li><a href="/instructions/laser">Laser</a></li>
          <li><a href="/instructions/laser/laserhead"><i class="fa fa-long-arrow-right"></i> Laser Head</a></li>


        </ul>
      </section>
      <!-- #section-categories -->
    </div>
  </div>
  <!-- #sidebar -->
</div>