<section id="section-newsletter" class="section">
  <h2 class="section-title h4 clearfix">Join us on Slack</h2>
  <div class="textwidget">
    <div class="media">
      <a class="pull-left" href="#"><img src="/assets/images/slack.svg" alt="" width="40" height="40" class="media-object"></a>
      <div class="media-body">
        <p>Slack is the instant messenging collaboration tools for this project, just enter your email and get an invite. <a href="https://slack.com/">More about Slack.</a></p>
      </div>
    </div>

    <form ng-submit="createUser()">
      <div class="form-group">
        <p class="form-control-static" ng-show="postSuccess"><strong><em>Thank you, you will get an invite shortly</em></strong></p>
        <input type="email" ng-model="user.email" class="form-control" title="Enter your email" placeholder="Enter your email" ng-hide="postSuccess"/>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.google_group" value="true" ng-hide="postSuccess">Add me to the Mailing List
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-custom" ng-disabled="postSuccess"><i class="fa fa-slack fa-fw"></i> Get Slack Invite</button>
      </div>
    </form>
  </div>
</section><!-- #section-newsletter -->