      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="widget-area">
                {% include block_about.html %}
              </div>
            </div>

            <div class="col-md-4">
              <div class="widget-area">
                {% include block_issues.html %}
              </div>
            </div>

            <div class="col-md-4">
              <div class="widget-area">
                {% include block_slack.html %}
              </div>
            </div>

            <div class="clearfix"></div>
            <hr />
          </div>

          <div class="row">
            <div class="site-info col-md-6">
              <p class="text-muted"><i class="fa fa-creative-commons"></i> Published under <a href="https://creativecommons.org/licenses/by-sa/4.0/">Create Commons CC BY-SA</a>.</p>
            </div><!-- .site-info -->

            <div class="site-social text-right col-md-6">
              <ul class="list-inline hidden-print">
                <li><a href="https://www.youtube.com/channel/UCmjDtrPYQKJhSwK430lPMZg" class="btn btn-social btn-youtube"><i class="fa fa-youtube-play fa-fw"></i></a></li>
                <li><a href="https://github.com/firepick" class="btn btn-social btn-github"><i class="fa fa-github fa-fw"></i></a></li>
              </ul>
            </div><!-- .site-social -->
          </div>

        </div>
      </footer><!-- #colophon -->

    </div><!-- #page -->

{% include scripts.html %}