      <div id="features" class="site-hero clearfix">
        <div class="container">

          <div class="features row">
            <div class="col-sm-4">
              <div class="banner-wrapper text-center">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="banner-title h3">Affordable</h4>
                <div class="banner-content">
                  <p class="text-justify">FirepPick was designed to keep costs low, we are using cheap industry standards for the aluminium frame and the main kinematic is almost completely 3d printed.</p>
                </div>
<!--                 <p><a href="#" class="btn btn-custom btn-sm">Read More</a></p> -->
              </div><!-- .banner-wrapper -->
            </div>

            <div class="col-sm-4">
              <div class="banner-wrapper text-center">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-creative-commons fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="banner-title h3">Open Source</h4>
                <div class="banner-content">
                  <p class="text-justify">Using open licenses for both hardware and software allows the project to continually evolve in real time as developers add to it and modify it and you won't be locked in to a vendor.</p>
                </div>
<!--                 <p><a href="#" class="btn btn-custom btn-sm">Read More</a></p> -->
              </div><!-- .banner-wrapper -->
            </div>

            <div class="col-sm-4">
              <div class="banner-wrapper text-center">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="banner-title h3">Hackable</h4>
                <div class="banner-content">
                  <p class="text-justify">Access to all design files allows you to start building your own FirePick from scratch, fix issues as they occur and modify it to your personal prefernces.</p>
                </div>
<!--                 <p><a href="#" class="btn btn-custom btn-sm">Read More</a></p> -->
              </div><!-- .banner-wrapper -->
            </div>
          </div><!-- .features -->

        </div>
      </div><!-- .site-hero -->