    <!-- Script -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="/bower_components/angular-moment/angular-moment.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/superfish/dist/js/superfish.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/assets/js/mobilemenu.js"></script>
    <script type="text/javascript" src="/assets/js/jqueryapp.js"></script>
    <script type="text/javascript" src="/assets/js/angularapp.js"></script>