---
layout: default
---
<div class="row">
  <div id="content" class="site-content col-md-9">
    <article class="hentry">
      <header class="entry-header">
        <h1 class="entry-title">{{ page.title }}</h1>
      </header>
      <!-- .entry-header -->
      <div class="entry-content clearfix">
        {{ content }}
      </div>
      <!-- .entry-content -->
    </article>
    <!-- .hentry -->
  </div>
  <div id="sidebar" class="site-sidebar col-md-3">
    <div class=""widget-area>
      <section id="section-categories" class="section">
        <h2 class="section-title h4 clearfix"><i class="line"></i>Build Sections</h2>
        <ul class="nav nav-pills nav-stacked nav-categories">

          <li><a href="/instructions/1_diycore">DIY Core</a></li>
          <li><a href="/instructions/1_diycore/1_frame"><i class="fa fa-long-arrow-right"></i> Frame</a></li>
          <li><a href="/instructions/1_diycore/2_stepper_assembly"><i class="fa fa-long-arrow-right"></i> Stepper Assembly</a></li>
          <li><a href="/instructions/1_diycore/3_pulley_assembly"><i class="fa fa-long-arrow-right"></i> Pulley Assembly</a></li>
          <li><a href="/instructions/1_diycore/4_delta_rods"><i class="fa fa-long-arrow-right"></i> Delta Rods</a></li>
          <li><a href="/instructions/1_diycore/5_effector_platform"><i class="fa fa-long-arrow-right"></i> Effector Platform</a></li>
          <li><a href="/instructions/1_diycore/6_bed"><i class="fa fa-long-arrow-right"></i> Bed</a></li>
          <li><a href="/instructions/1_diycore/7_power_supply"><i class="fa fa-long-arrow-right"></i> Power Supply</a></li>
          <li><a href="/instructions/1_diycore/8_electronics"><i class="fa fa-long-arrow-right"></i> Electronics</a></li>

          <li><a href="/instructions/2_pick_and_place">Pick and Place</a></li>
          <li><a href="/instructions/2_pick_and_place/1_smt_nozzle"><i class="fa fa-long-arrow-right"></i> SMT Nozzle</a></li>
          <li><a href="/instructions/2_pick_and_place/2_vacuum_pump"><i class="fa fa-long-arrow-right"></i> Vacuum_Pump</a></li>
          <li><a href="/instructions/2_pick_and_place/3_upward_looking_camera"><i class="fa fa-long-arrow-right"></i> Upward Looking Camera</a></li>

          <li><a href="/instructions/3_3d_printer">3D Printer</a></li>
          <li><a href="/instructions/3_3d_printer/1_print_head"><i class="fa fa-long-arrow-right"></i> 3D Print Head</a></li>
          <li><a href="/instructions/3_3d_printer/2_extruder"><i class="fa fa-long-arrow-right"></i> Extruder</a></li>

          <li><a href="/instructions/4_laser">Laser</a></li>
          <li><a href="/instructions/4_laser/1_laserhead"><i class="fa fa-long-arrow-right"></i> Laser Head</a></li>


        </ul>
      </section>
      <!-- #section-categories -->
    </div>
  </div>
  <!-- #sidebar -->
</div>